

.nowrap {
    white-space: pre-wrap
}
.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 335px;
  }

  .cropit-preview-image-container {
    cursor: move;
  }

  .image-size-label {
    margin-top: 10px;
  }

  input {
    display: block;
  }

  button[type="submit"] {
    margin-top: 10px;
  }

  #result-data {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  input[type=range] {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 250px;
    height: 5px;
    background: #ddd;
    margin: 10px;
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(83, 83, 83);
    margin-top: -4px;
}

input[type=range]::-ms-fill-lower {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-moz-range-track {
  width: 250px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(83, 83, 83);
}

input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

.loader {
  z-index: 900;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid #ec036e;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loaderWrapper {
  position: fixed;
  z-index: 900;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 50%;
  margin:-45px 0 0 -45px;
}

#backgroundLoader {
  width: 100%;
  height: 100%;
  z-index: 800;
  background: #fff;
  opacity: 0.4;
  margin:0 auto;
  position: fixed;
}

.CodeMirror {
	height: 130px;
}
.server-list__table {
  margin-top: 10px;
}
.server-list__table * {
  font-size: 12px;
}
.server-list__table td {
  vertical-align: top;
}
table.server-list__table>tbody>tr>td {
  padding: 20px;
  background-color: #f3f3f3;
}

.guard-crypto {
  width: 9px;
  height: auto;
  margin-right: 5px;
  margin-top: -2px;
}

.panel-message {
  display: flex;
  justify-content: space-between;
}

.panel-message__encrypted {
  position: relative;
}

.checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 50px 0 0;
  margin: 0;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: #CDD1DA;
  transition: .2s;
}
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 6px;
  right: 22px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #FFF;
  transition: .2s;
}
.checkbox:checked + label:before {
  background: #9FD468;
}
.checkbox:checked + label:after {
  right: 2px;
}
.button__mail {
  display: inline-block;
  color: white;
  background-color: #ec036e;
  padding: 5px 15px;
  transition: .5s;
}
.button__mail:hover, .button__mail:active, .button__mail:visited, .button__mail:link {
  text-decoration: none;
  color: white;
}
.button__mail:hover {
  background-color: #b61875;
}
.link__back {
  color: #ec036e;
}
.link__back:hover, .link__back:active, .link__back:visited, .link__back:link {
  text-decoration: none;
  color: #b61875;
}
.mail-table {
  width: 100%;
  margin-bottom: 10px;
}
.mail-table td, .mail-table th {
  padding: 10px;
  background-color: #f8f8f8;
  vertical-align: top;
}
.mail-table tr:nth-child(2n) td {
  background-color: #f3f3f3;
}
.mail-table tr td:nth-child(1), .mail-table tr td:nth-child(4) {
  font-weight: bold;
}
#personExtendedInfo {
  margin-top: 10px;
}
#personExtendedInfo .mail-table th {
  background-color: #e4e4e4;
}
#personExtendedInfo p {
  margin-bottom: 10px;
  margin-top: 30px;
}
#personExtendedInfo .mail-table tr td:nth-child(1), #personExtendedInfo .mail-table tr td:nth-child(4) {
  font-weight: normal;
}
.message__encrypted {
  color: red;
}
.person-table-info {
  margin-top: 12px;
}
.person-balances {
  font-size: 20px;
  padding: 10px;
}
.person-balances p {
  margin-bottom: 0;
}
.table__orderbook img {
  max-height: 20px;
  width: auto;
  margin: -3px 5px 0 0;
}
.table__orderbook th, .table__orderbook td {
  text-align: center;
}
.table__orderbook .text-danger {
   background-color: #ffeaea;
}
.table__orderbook .text-info {
   background-color: #e3f7fd;
}
.transaction-preview {
  margin: 20px 0 40px;
}
.transaction-preview__table th {
  background-color: #d2d2d2;
}
.forging-checkbox {
  display: flex;
  align-items: center;
}
.forging-checkbox label {
  margin: 0 0 0 5px;
}
#workFlowMainFrame, #workFlowMainFrame .container {
  width: 100%;
}